:root {
  --color-link: rgb(32,80,148);  /* Replace with your custom blue */
/*  --color-link-visited: #005fa3; /* Optional: for visited links */
  --color-link-hover: #005fa3;   /* Optional: for hover state */
  --content-width: 1600px;  /* Default is around 800px */
}

a,
a:visited,
a:hover,
a:active {
  color: var(--color-link) !important;
}
